# Bibliotecas

In [3]:
import numpy as np # acesso a vetores
import math # função matematicas
import re # expressão regulares
import pandas as pd
import nltk
from nltk.corpus import stopwords
from nltk.stem import RSLPStemmer
from nltk.stem.porter import *
stemmer = PorterStemmer()
stemmed = nltk.stem.SnowballStemmer("english")
nltk.download('stopwords')

ModuleNotFoundError: No module named 'nltk'

In [5]:
!pip install nltk

Collecting nltk
  Downloading nltk-3.5.zip (1.4 MB)
     |████████████████████████████████| 1.4 MB 668 kB/s eta 0:00:01
Requirement already satisfied: click in /home/joao/anaconda3/envs/Lacina/lib/python3.6/site-packages (from nltk) (7.1.2)
Requirement already satisfied: joblib in /home/joao/anaconda3/envs/Lacina/lib/python3.6/site-packages (from nltk) (0.14.1)
Requirement already satisfied: regex in /home/joao/anaconda3/envs/Lacina/lib/python3.6/site-packages (from nltk) (2019.6.8)
Requirement already satisfied: tqdm in /home/joao/anaconda3/envs/Lacina/lib/python3.6/site-packages (from nltk) (4.47.0)
Building wheels for collected packages: nltk
  Building wheel for nltk (setup.py) ... done
  Created wheel for nltk: filename=nltk-3.5-py3-none-any.whl size=1435508 sha256=be68b8b5b1793edf392d36ffdcc3d9e6b5f5a65789e6efeb89d90f9d01fc7e0b
  Stored in directory: /home/joao/.cache/pip/wheels/de/5e/42/64abaeca668161c3e2cecc24f864a8fc421e3d07a104fc8a51
Successfully built nltk
Installing collected packages: nltk
Successfully installed nltk-3.5

# Ler o arquivo

In [4]:
data = pd.read_csv('BD/train.csv')
data.head(10)

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1
5,8,NaN,NaN,#RockyFire Update => California Hwy. 20 closed...,1
6,10,NaN,NaN,#flood #disaster Heavy rain causes flash flood...,1
7,13,NaN,NaN,I'm on top of the hill and I can see a fire in...,1
8,14,NaN,NaN,There's an emergency evacuation happening now ...,1
9,15,NaN,NaN,I'm afraid that the tornado is coming to our a...,1

### A Analise será feita em cima da coluna de text então as outras colunas serão excluidas

In [3]:
data = data.drop(columns=['location','keyword'])
data.head(10)

   id                                               text  target
0   1  Our Deeds are the Reason of this #earthquake M...       1
1   4             Forest fire near La Ronge Sask. Canada       1
2   5  All residents asked to 'shelter in place' are ...       1
3   6  13,000 people receive #wildfires evacuation or...       1
4   7  Just got sent this photo from Ruby #Alaska as ...       1
5   8  #RockyFire Update => California Hwy. 20 closed...       1
6  10  #flood #disaster Heavy rain causes flash flood...       1
7  13  I'm on top of the hill and I can see a fire in...       1
8  14  There's an emergency evacuation happening now ...       1
9  15  I'm afraid that the tornado is coming to our a...       1

In [4]:
data.shape

(7613, 3)

# Limpeza dos dados 
* Remocação de caracteres especiais
* Deixar o texto em caixa baixa
* Extração do radical das palavras
* Remoção dos stopwords

StopWords são consideradas palavras que não tem um significado dentro de uma frase ou seja essas palavras não irão influenciar na característica do twitter

In [5]:
def limpeza_texto(text):
  text = re.sub(r"@[A-Za-z0-9]+",' ', text)
  text = re.sub(r'https?://[A-Za-z0-9./]+', ' ', text)
  text = re.sub(r"[^a-zA-Z]", ' ', text)
  text = re.sub(r" +",' ', text)
  text = text.lower()
  text = text.split()
  text = [stemmer.stem(word) for word in text]
  text = [word for word in text if not word in set(stopwords.words('english'))]
  text = " ".join(text)
  return text
data.text = data.text.apply(limpeza_texto)
data = data[data['text'] != ''] # remover texto vazio 
data = data[data['text'] != ' '] # remover texto vazio 
data.head(15)

    id                                               text  target
0    1      deed reason thi earthquak may allah forgiv us       1
1    4               forest fire near la rong sask canada       1
2    5  resid ask shelter place notifi offic evacu she...       1
3    6        peopl receiv wildfir evacu order california       1
4    7  got sent thi photo rubi alaska smoke wildfir p...       1
5    8  rockyfir updat california hwi close direct due...       1
6   10  flood disast heavi rain caus flash flood stree...       1
7   13                             top hill see fire wood       1
8   14             emerg evacu happen build across street       1
9   15                           afraid tornado come area       1
10  16                      three peopl die heat wave far       1
11  17  haha south tampa get flood hah wait second liv...       1
12  18   rain flood florida tampabay tampa day lost count       1
13  19                      flood bago myanmar arriv bago       1
14  20              damag school bu multi car crash break       1

In [6]:
data.shape

(7613, 3)

# Salvar base nova dos dados

In [7]:
data.to_csv('dados_limpos.csv')