# Bibliotecas

In [1]:
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.metrics import accuracy_score

# Ler Arquivo

In [2]:
data = pd.read_csv('BD/dados_limpos.csv')
data.head(10) # 10 primeiros

   Unnamed: 0  id                                               text  target
0           0   1      deed reason thi earthquak may allah forgiv us       1
1           1   4               forest fire near la rong sask canada       1
2           2   5  resid ask shelter place notifi offic evacu she...       1
3           3   6        peopl receiv wildfir evacu order california       1
4           4   7  got sent thi photo rubi alaska smoke wildfir p...       1
5           5   8  rockyfir updat california hwi close direct due...       1
6           6  10  flood disast heavi rain caus flash flood stree...       1
7           7  13                             top hill see fire wood       1
8           8  14             emerg evacu happen build across street       1
9           9  15                           afraid tornado come area       1

In [3]:
data.tail(10) # 10 ultimos

,Unnamed: 0,id,text,target
7603,7603,10862,offici say quarantin place alabama home possib...,1
7604,7604,10863,worldnew fallen powerlin g link tram updat fir...,1
7605,7605,10864,flip side walmart bomb everyon evacu stay tune...,1
7606,7606,10866,suicid bomber kill saudi secur site mosqu reut...,1
7607,7607,10867,stormchas violent record break ef el reno okla...,1
7608,7608,10869,two giant crane hold bridg collaps nearbi home,1
7609,7609,10870,ahrari control wild fire california even north...,1
7610,7610,10871,utc km volcano hawaii,1
7611,7611,10872,polic investig e bike collid car littl portug ...,1
7612,7612,10873,latest home raze northern california wildfir a...,1

# Preparando os Dados

Agora vamos passar nossos dados para o modelo de ML(machine learning). Para issso vamos vetorizar nossos dados tento em vista que algoritmos de ML(machine learning) trabalham muito bem com números.


Para isso vamos ultilizar uma biblioteca do scikit-learn que se chama CountVectorizer

In [4]:
vectorizer = CountVectorizer(ngram_range = (1,3))

O parâmeto nogram_range é utilizado para passar o range de n-gramas, para esse modelo vamos utilizar tri-gramas

# Treino e Teste

In [5]:
X = data.text
y = data.target

In [6]:
X_train, X_test, y_train, y_test = train_test_split(X, y, stratify=y, test_size=0.33, random_state=45)

In [7]:
X_train = vectorizer.fit_transform(X_train)
X_test = vectorizer.transform(X_test)

# Modelo : Regressão Logística

Uma breve explicação sobre regressão logística : 
* É um modelo que permite estimar a probabilidade dá variável dependente assumir um determinado valor em função dos conhecidos de outras variáveis.
* Os resultados da análise ficam contidos no intervalo de zero a um.
* Recomendado para usar em situações em que a variável dependente é de natureza binária.

![texto alternativo](https://matheusfacure.github.io/img/tutorial/sigmoid.png)

In [8]:
modelLogistic = LogisticRegression()
modelLogistic.fit(X_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

# Validação

## Treino

In [9]:
y_pred = modelLogistic.predict(X_train)
print(metrics.classification_report(y_train, y_pred,digits=4))
print()
print("Accuracy " , accuracy_score(y_train, y_pred))

              precision    recall  f1-score   support

           0     0.9767    0.9931    0.9848      2909
           1     0.9907    0.9685    0.9795      2191

    accuracy                         0.9825      5100
   macro avg     0.9837    0.9808    0.9821      5100
weighted avg     0.9827    0.9825    0.9825      5100


Accuracy  0.9825490196078431

## Teste

In [10]:
y_pred = modelLogistic.predict(X_test)
print(metrics.classification_report(y_test, y_pred,digits=4))
print()
print("Accuracy " , accuracy_score(y_test, y_pred))

              precision    recall  f1-score   support

           0     0.7816    0.9016    0.8373      1433
           1     0.8360    0.6657    0.7412      1080

    accuracy                         0.8002      2513
   macro avg     0.8088    0.7837    0.7893      2513
weighted avg     0.8050    0.8002    0.7960      2513


Accuracy  0.8002387584560287